.project {
    margin-top: 50px;
    padding: 110px 20px 0;
    text-align: center;
}
.inner {
    max-width: 1600px;
    margin: 0 auto;
}
.title {
    font-size: 60px;
    color: #f1f2f3;
}

.project-cards {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 32%);
    column-gap: 2%;
}

@media screen and (max-width: 1380px) {
    project {
        padding: 90px 20px 0;
    }
    .title {
        font-size: 45px;
    }
   
    .project-cards {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}
@media screen and (max-width: 768px) {
    .title {
        font-size: 32px;
        text-align: center;
        font-weight: 500;
    }

    .project-cards {
        grid-template-columns: repeat(auto-fit, 100%);
    }
}