.expcard-main {
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 5px;
  background-color: #212223;
  font-size: 25px;
  text-align: center;
  transition: 0.3s ease-out;
}
.expcard-main:hover {
  box-shadow: 0 4px 8px rgba(38, 38, 38, 0.2);
}

 

@media screen and (max-width: 1380px) {
 

}
