*{
  font-weight: bold
}
.search{
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: space-around;
  
}


.noQuestionFound{
    color: white;
   display: flex;
   align-items: center;
   justify-content: center; 
   flex-direction: column;
   border-radius: 5px; 
   border: 2px solid white;
   text-align: center; 
   padding: 1rem 2rem; 
   background: rgb(24, 24, 24)
}

.container{
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
 
}

  input {
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    width: 90%;
    padding: 5px 1rem;
  }
